
body{
  background-color: #dedebe;
  /*margin-bottom: 5px;*/
}

nav{
  background-color: WHITE;
  font-weight: bold;

}


.errorlist{
  width: 80%;
  margin-left: 90px;
  margin-top: 5px;
}


.title{
  font-weight: normal;
  font-style: italic;
  margin-left: 20px;
}

.main{

  width: 550px;
  background-color: white;
  margin: 60px auto auto auto;
  padding: 20px 20px 10px 20px;
}

@media only screen and (max-width: 600px){
  .main{
    width: 90%;
  }
}


#id_description{
  margin-bottom: 5px;
}


.browse-file-container{
  margin-bottom: 5px;
}

#mockup-input-metrics{
  margin-bottom: 5px;
}

.additional-preferences{
  margin-bottom: 10px;
}