{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'data_analysis/success.css' %}">
    <link rel="icon" type="image/png" href="{% static 'data_analysis/favicon.png' %}">
    <title>Успех!</title>
</head>
<body>

<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'data_analysis/Tinkoff.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="brand">Tinkoff Cafe</span> <span class="title"> Сервис анализа данных </span>
    </a>
</nav>




<div class="return">
    <div class="success"><h1>Файл успешно загружен</h1></div>
    <a class="link" href="{% url 'index' %}">Вернуться на главную</a>
</div>